nav {
    flex: 0 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .center {
    display: flex;
    align-items: center;
  }
  
  button {
    margin-right: 10px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
  }

  .left button {
    margin-left: 10px;
  }