.warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
  .danger {
    font-size: 10px;
    color: red;
    margin-left: 10em;
  }
  
  .label {
    font-size: 20px; /* Adjust the width as needed */
    background-color: whitesmoke;
    border-radius: 5%;
    padding: 3px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }