.warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
  .danger {
    font-size: 10px;
    color: red;
    font-weight: bold;
  }
  
  .label {
    font-size: 20px; /* Adjust the width as needed */
    background-color: whitesmoke;
    border-radius: 5%;
    padding: 3px;
    font-weight: bold;
  }

  .form {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 5%;
  }

  .button {
    background-color: #3498db; /* Change this color to your desired button color */
    border: none;
    padding: 10px;
    color: whitesmoke;
  }

  .input {
    min-height: 30px;
  }